<mat-toolbar color="primary">

    <a [routerLink]="['/']" class="logo"></a>

    <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/propos"><mat-icon>add_alert</mat-icon>A Propos</button>
    <button mat-button routerLink="/fridge"><mat-icon>view_module</mat-icon>Espace Frigo</button>
    <button mat-button routerLink="/statistics"><mat-icon>bar_chart</mat-icon>Espace Recette</button>
    <button mat-button routerLink="/statistics"><mat-icon>bar_chart</mat-icon>Espace Diététique</button>
    <button mat-button routerLink="/profile"><mat-icon>account_circle</mat-icon>Espace Profile</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/login">Déconnexion</button>
</mat-menu>
