.fill-remaining-space {
  flex: 1 1 auto;
}

.logo {
  background-image: url('../../../assets/haroun.png');
  width: 200px;
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
}


