.example-card {
  width: 300px;
  margin: 20px;
  display: table-column;

}

.cards {
  min-width: 1000px;
  display: inline-flex;
}

.card-image {
  height: 150px;
  width: 180px;
  display: block;
  margin: auto;
}

.custom-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50%;
  width: 90%;
}
