<div class="wrapper">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="../../assets/logo.png" width="200" height="200">
  </div>
<table width="500px">
<tbody>
  <tr >
  <td>Nom d'utilsateur: </td>
    <td><b>{{actuelUser.userName}}</b></td>
  </tr>
  <tr>
  <td>Nom: </td>
    <td><b>{{actuelUser.fistName}}</b></td>
  </tr>
  <tr>
    <td>Prénom: </td>
    <td><b>{{actuelUser.lastName}}</b></td>
  </tr>
  <tr>
    <td>Date de naissance: </td>
    <td><b>{{actuelUser.BirthDay}}</b></td>
  </tr>
  <tr>
  <td>Lieur de naissance: </td>
    <td><b>{{actuelUser.BirthPlace}}</b></td>
  </tr>
  <tr>
  <td>Addresse: </td>
    <td><b>{{actuelUser.Address}}</b></td>
  </tr>
  <tr>
    <td>Preférences: </td>
    <td><b>{{actuelUser.Preference}}</b></td>
  </tr>

  <tr>
    <td>Poids: </td>
    <td><b>{{actuelUser.Poids}}</b></td>
  </tr>
  <tr>
    <td>Taille: </td>
    <td><b>{{actuelUser.height}}</b></td>
  </tr>

  <tr>
    <td>Sexe</td>
    <td><b>{{actuelUser.Sexe}}</b></td>
  </tr>

  <tr>
    <td>Poids souhaité</td>
    <td><b>{{actuelUser.goalPoids}}</b></td>
  </tr>

</tbody>
</table>
</div>
