<div class="sidebar">

<img src="../../assets/fridge.png" width="450" height="600">

  <div class="connexion-panel" style="margin-lef: 100px">
    <h4>Connectez à votre figo : </h4>
    <button mat-raised-button color="primary" style="width: 300px ; margin-top: 20px" (click)="filterfridge1()"> <mat-icon>lock_open</mat-icon>Se connecter au frigo 1</button>
    <button mat-raised-button color="primary" style="width: 300px ; margin-top: 20px" (click)="filterfridge2()"> <mat-icon>lock_open</mat-icon> Se connecter au frigo 2</button>
    <button mat-raised-button color="primary" style="width: 300px ; margin-top: 20px" (click)="filterfridge3()"> <mat-icon>lock_open</mat-icon>Se connecter au frigo 3</button>

  </div>

</div>
<div class="content">

<app-fridge-content #fridge [products]="products" [Cart]="Cart"></app-fridge-content>
</div>

