<div fxLayout="column" fxLayoutAlign="space-around center" style="display: inline-flex;">
  <div style="margin-right: 350px ">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" fxLayoutAlign="center">
      <mat-button-toggle value="bold" (click)="initialize()"><mat-icon>view_module</mat-icon>Tous</mat-button-toggle>
      <mat-button-toggle value="bold" (click)="filterFruits()"><mat-icon>category</mat-icon>Fruits</mat-button-toggle>
      <mat-button-toggle value="bold" (click)="filterLegume()"><mat-icon>category</mat-icon>Légumes</mat-button-toggle>
      <mat-button-toggle value="bold" (click)="filterPates()"><mat-icon>category</mat-icon>Pates</mat-button-toggle>
      <mat-button-toggle value="bold" (click)="filterBoissons()"><mat-icon>category</mat-icon>Boissons</mat-button-toggle>
      <mat-button-toggle value="bold" (click)="filterViandes()"><mat-icon>category</mat-icon>Viandes</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="Cart.length !== 0" style="margin-left: 150px " fxLayout="column" fxLayoutAlign="space-around center" >
    <button mat-flat-button color="primary" style="width: 100%"
            (click)="openDialog()">Afficher le panier <mat-icon>local_grocery_store</mat-icon>
    </button>
  </div>
  
</div>

<div fxLayout="row" style="display: inline-flex">

  <div>
    <div *ngFor="let i of rows " fxLayout="row" class="cards">
      <div fxFlex="30" class="example-card" *ngFor="let product of products | slice:(i*ElementNumber):(i+1)*ElementNumber"
           Style="border-style: dot-dash ; display: inline-flex ; height: 100%"
           [style.width.%] ="80/ElementNumber"
      >
        <mat-card [class.mat-elevation-z8]="true">
          <mat-card-header style="width: 100%">
            <mat-card-title>{{product.title}}</mat-card-title>
            <mat-card-subtitle>
              <span>{{product.category}}</span>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img  mat-card-image src='{{product.imageLink}}' class="card-image" alt="Photo of a Shiba Inu">
            <span><small>Quantité: x</small><b>{{product.quantity}}</b></span>
          </mat-card-content>
          <mat-card-actions>



          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>

</div>
